*{
    margin: 0;
    padding: 0;
    font-size: 30px;
    box-sizing: border-box;
}
h1, h2{
    border-bottom: 1px solid #000;
    margin-bottom: 15px;
    text-align: center;
}
div{
    background-color: antiquewhite;
    border: 1px solid #000;
    border-radius: 15px;
    padding: 20px;
    margin: 15px auto;
    width: 500px;   
}
ol{
    list-style:decimal inside ;
    list-style-image: url(./icone/circulo-cruzado.png);
}
ul{
    list-style: inside;
}
li{
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
}