div{background-color: yellow;
    color: blue;
    font-size: 20px;
    border: 2px solid black;
    margin-bottom: 10px;
    width: 400px;
    height: 300px;
    }
    h1{
        background-color: black;
        color: aliceblue;
        border: 2px solid red;
        font-size: 40px;
        width: 200px;
    }
    h2{
        border: 1px solid black;
        color: aqua;
        background-color: antiquewhite;
        margin: 10px;
    }
    p{
        border: 1px solid black;
    }