*{
    box-sizing: border-box;
    margin: 0;
    padding: 0
}
a{
    text-decoration: none;
}
button{
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}
img{
    width: 100%;
}