@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline:opsz,wght@10..72,100..900&family=Big+Shoulders+Stencil:opsz,wght@10..72,100..900&display=swap');
p {
    font-family: "Big Shoulders Stencil", sans-serif;
    font-size: 34px;
    font-weight: 400;
    /* font-optical-sizing: auto;
    font-style: normal;
     */
}
h1{
    font-family: "Big Shoulders Inline", sans-serif;
    font-size: 50px;
    font-weight: 800;
    font-style: normal;
}
