*{
    margin: 0;
}
body{
    height: 1500px; 
    padding-top: 67px;
}
header{
    font-size: 24px;
    position: fixed;
    background-color: aquamarine;
    width: 100%;
    padding: 20px;
    top: 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}