p{
    color: aqua;
    font-size: 25px;
    font-weight: bold;
}
.bg{
    background-color: blueviolet;
    background-image: url(./images/manga.png);
}
.bg-image{
    width: 727px; ;
    height: 953px;
}
.bg-repeat{
    background-repeat: no-repeat;
    height: 1200px;
}
.bg-size-cover{
    background-size: cover;
    height: 1000px;
}
.bg-fixed{
    background-attachment: scroll;
    height: 1000px;
}
.bg-position{
    background-position: right bottom;
    background-repeat: no-repeat;
    height: 1000px;
}