.container{
    display: flex;
}
.auto{
    align-self: auto;
}
.flex-start{
    align-self: flex-start;
}
.flex-end{
    align-self: flex-end;
}
.center{
    align-self: center;
}
.strecht{
    
    align-self: stretch;
}