.nowrap{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    flex-flow: column nowrap;
}
.wrap{
    display: flex;
    flex-wrap: wrap;
}
.wrap-reverse{
    display: flex;
    flex-wrap: wrap-reverse;
}