.conteudo{
    width: 100vw;
    height: 100vh;
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e6e6e6;
}
.faq-card{
    width: 655px;
    height: 347px;
    display: flex;
    align-items: center;
    background-color: #FCFCFC;
    border-radius: 21px;
    position: relative;
    box-shadow: 0 27px 49px -25px rgba(0, 0, 0, 0.3);
}
.faq-card .img-faq{
    height: 293px;
    position: absolute;
    left: -90px;
}
.faq{
    margin: 20px 40px 60px 220px;
    width: 390px;
    height: 227px;
}
.titulo-faq{
    font-size: 25px;
}
.faq-pontos{
    margin-top: 15px;
    padding-bottom: 15px;
    border-bottom: 0.5px solid #D4D4D4;
}
.faq-btn{
    border: none;
    display: flex;
    align-items: center;
    height: 30px;
    gap: 10px;
}
.faq-btn:active{
    background-color: rgba(78, 67, 73, 0.23);
}
.btn-name{
    width: 347px;
    font-size: 17px;
    font-weight: 700;
    text-align: left;
}
.seta{
    width: 20px;
    height: 15px;
}
.acordeon{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}
.acordeon.ativo{
    max-height: 60px;
}
.texto{
    width: 347px;
    font-size: 15px;
}
