*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#formulario-do-facebook{
    border: 1px solid gray;
    width: 400px;
    height: 400px;
    padding: 10px;
    margin: 10px;
    

}
.container-genero{
    display: flex;
    gap: 10px;
}
.genero{
    border: 1px solid black;
    border-radius: 2px;
    width: 125px;
    padding: 5px;
    text-align: center;
    
}
input{background-color:aliceblue}